<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
</head>
<body>
<!-- Modal vizită nouă-->
<div th:fragment="modal-vizita-noua" class="modal" th:id="*{'modalVizitaNouaAnimal'+{animal.animalId}}" tabindex="-1" role="dialog" aria-labelledby="#modalVizitaNouaAnimal" aria-hidden="true">
 
  <!-- arata modal daca modalul trimis are erori -->
  <script th:inline="javascript" th:if="${errviz} != null">
    var id = /*[[${idModal}]]*/ 0;
    $("#modalVizitaNouaAnimal" + id).modal("show"); 
    //AICI LUAM PRIMA VALOARE A PARAMETRULUI idModal PE CARE IL PUNEM IN CONTROLLER 
    //SI DESCHIDEM MODALUL CU NUMARUL LUAT DIN PARAMETRU... 
  </script>
  
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title w-100 text-center" id="titlu">Adaugă o vizită nouă</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&cross;</span>
        </button>
      </div>
      <!-- form salvare vizita -->
      <form action="#" th:action="@{/salveazaVizita}" th:object="${vizitawrapper}" method="POST">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-5 col-xs-7">
              <h5 class="modal-title" th:text="'Stăpânul: ' + ${animal.stapanId.firstname} + ' ' + ${animal.stapanId.lastname}"></h5>
              <h5 class="modal-title" th:text="'Animalul: ' + ${animal.nume}"></h5>
            </div>
            <div class="col-md-1 col-xs-7"></div>
            	<div class="col-md-5 col-xs-7">
					<img 	class="img-responsive"  
		              		th:src="@{/resources/poze_animale/{img}(img=${animal.imagine != null ? animal.imagine : 'animal_default.png'} ) }" 
		              		style="height:15vh;
		              		max-width:15vh; 
		              		border-radius: 50%; 
		              		border: 0.2vh solid #00FFFF;" />
				</div>
            <!-- camppuri de input ascunse -->
            <!--VIZITA -->
            <!-- stapan -->
            <input th:value="${animal.stapanId.firstname} + ' ' + ${animal.stapanId.lastname}" name="vizita.numestapan" type="hidden" />
            <input th:value="${animal.stapanId.stapanId}" name="vizita.stapanId" type="hidden" />
            <!-- animal -->
            <input th:value="${animal.nume}" name="vizita.numeanimal" type="hidden" />
            <input th:value="${animal.animalId}" name="vizita.animalId" type="hidden" />
            <!--ASTEA SUNT NULL, SE SETEAZA IN CONTROLLER VALOAREA DE LA 'VIZITAWRAPPER' -->
            <!-- diagnostic -->
            <input th:value="${id_diagnostic}" name="vizita.diagnosticId" type="hidden" />
            <!-- tratament -->
            <input th:value="${id_tratament}" name="vizita.tratamentId" type="hidden" />
            <!-- DIAGNOSTIC -->
            <input th:value="${id_vizita}" name="diagnostic.vizitaId" type="hidden" />
            <input th:value="${id_tratament}" name="diagnostic.tratamentId" type="hidden" />
            <!-- TRATAMENT -->
            <input th:value="${id_vizita}" name="tratament.vizitaId" type="hidden" />
            <input th:value="${id_diagnostic}" name="tratament.diagnosticId" type="hidden" />
            <input th:value="${animal.animalId}" name="tratament.animalId" type="hidden" />
            <!-- ~~~ Pentru redirectionare pagina curenta si camp sortat si numele paginii (veziAnimaleStapan)~~~ -->
            <!--Nr paginii -->
            <input type="text" th:value="${currentPage}" class="form-control" name="currentPage" hidden="true">
            <!--Numele campului dupa care se face sortarea -->
            <input type="text" th:value="${sortField}" class="form-control" name="sortField" hidden="true">
            <!--Directia sortarii-->
            <input type="text" th:value="${sortDir}" class="form-control" name="sortDir" hidden="true">
            <!--Numele vederii-->
            <input type="text" th:value="${numeView}" class="form-control" name="numeView" hidden="true">
            <!-- Field cautare -->
            <input type="text" th:value="${fieldSearch}" class="form-control" name="fieldSearch" hidden="true">
            <!-- Text cautare -->
            <input type="text" th:value="${txtSearch}" class="form-control" name="txtSearch" hidden="true">
            <!-- Mesaje eroare -->
            <div class="col-md-12 col-xs-7">
              <!-- mesaj eroare angajat null -->
              <div th:if="${errangajat} != null">
                <div class="alert alert-danger" style="text-align: center">
                  <h4 class="text-danger ">Selectează un angajat ! <h4>
                </div>
              </div>
              <!-- mesaj eroare data vizita null -->
              <div th:if="${errvizdata} != null">
                <div class="alert alert-danger" style="text-align: center">
                  <h4 class="text-danger ">Selectează data vizitei ! <h4>
                </div>
              </div>
              <!-- mesaj eroare diagnostic null -->
              <div th:if="${errdiagnostic} != null">
                <div class="alert alert-danger" style="text-align: center">
                  <h4 class="text-danger ">Introdu un diagnostic ! <h4>
                </div>
              </div>
              <!-- mesaj eroare tratament null -->
              <div th:if="${errtratinceput} != null">
                <div class="alert alert-danger" style="text-align: center">
                  <h4 class="text-danger ">Selectează o dată de început pentru tratament ! <h4>
                </div>
              </div>
              <!-- mesaj eroare data incepere tratament null -->
              <div th:if="${errtratament} != null">
                <div class="alert alert-danger" style="text-align: center">
                  <h4 class="text-danger ">Introdu un tratament ! <h4>
                </div>
              </div>
            </div>
            <!--VIZITA -->
            <div class="col-md-5 col-xs-7">
              <h4>Motivul vizitei</h4>
              <input type="text" th:field="*{vizita.motiv}" class="form-control ">
            </div>
            <div class="col-md-1 col-xs-7"></div>
            <!-- Intai setam un ID distinctiv pentru fiecare datetimepicker (data vizita, data tratament incepere si terminare), adaugand la ID-ul datetimepicker-ului, ID-ul animalului selectat-->
            <!-- Apoi pentru fiecare modal al animalelor din tabel se va adauga datetimepicker-ul cu o functie JS. -->
            <div class="col-md-5 col-xs-6">
              <h4>Data și ora vizitei</h4>
              <div class="form-group">
                <div class="input-group date" th:id="'datetimepicker' + ${animal.animalId}" data-target-input="nearest">
                  <input type="text" th:field="*{vizita.date}" class="form-control datetimepicker-input" th:data-target="'#datetimepicker'+ ${animal.animalId}" />
                  <div class="input-group-append" th:data-target="'#datetimepicker'+ ${animal.animalId}" data-toggle="datetimepicker">
                    <div class="input-group-text">
                      <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                </div>
              </div>
              <script type="text/javascript">
                $(function() {
                  var id = /*[[${animal.animalId}]]*/ 0;
                  $('#datetimepicker' + id).datetimepicker();
                });
              </script>
            </div>
            <!-- DIAGNOSTIC -->
            <div class="col-md-5 col-xs-7">
              <h4>Diagnostic</h4>
              <textarea type="text" th:field="*{diagnostic.diagnostic}" class="form-control " rows="5"></textarea>
            </div>
            <div class="col-md-1 col-xs-7"></div>
            <!-- TRATAMENT -->
            <div class="col-md-5 col-xs-7">
              <h4>Metodă tratament</h4>
              <textarea type="text" th:field="*{tratament.metodatratament}" class="form-control" rows="5"></textarea>
            </div>
            <!-- ANGAJAT -->
            <div class="col-md-5 col-xs-7">
              <div class="form-group blu-margin">
                <h4>Selectează veterinar</h4>
                <select class="form-control" th:field="${angajat.angajatId}" id="dropAngajat">
                  <option th:value="1">Selectează veterinar</option>
                  <option th:each="angajat : ${lista_angajati}" th:value="${angajat.angajatId}" th:text="${angajat.lastname} + ' ' + ${angajat.firstname}"></option>
                </select>
              </div>
            </div>
            <div class="col-md-1 col-xs-7"></div>
            <div class="col-md-5 col-xs-7">
              <h4>Dată începere tratament</h4>
              <div class="form-group">
                <div class="input-group date" th:id="'datetimepickerIncepereTratament' + ${animal.animalId}" data-target-input="nearest">
                  <input type="text" th:field="*{tratament.datainceput}" class="form-control datetimepicker-input" th:data-target="'#datetimepickerIncepereTratament'+ ${animal.animalId}" />
                  <div class="input-group-append" th:data-target="'#datetimepickerIncepereTratament'+ ${animal.animalId}" data-toggle="datetimepicker">
                    <div class="input-group-text">
                      <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                </div>
              </div>
              <script type="text/javascript">
                $(function() {
                  var id = /*[[${animal.animalId}]]*/ 0;
                  $('#datetimepickerIncepereTratament' + id).datetimepicker();
                });
              </script>
            </div>
            <div class="col-md-6 col-xs-7"></div>
            <div class="col-md-5 col-xs-7">
              <h4>Dată terminare tratament</h4>
              <div class="form-group">
                <div class="input-group date" th:id="'datetimepickerTerminareTratament' + ${animal.animalId}" data-target-input="nearest">
                  <input type="text" th:field="*{tratament.datasfarsit}" class="form-control datetimepicker-input" th:data-target="'#datetimepickerTerminareTratament'+ ${animal.animalId}" />
                  <div class="input-group-append" th:data-target="'#datetimepickerTerminareTratament'+ ${animal.animalId}" data-toggle="datetimepicker">
                    <div class="input-group-text">
                      <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                </div>
              </div>
              <script type="text/javascript">
                $(function() {
                  var id = /*[[${animal.animalId}]]*/ 0;
                  $('#datetimepickerTerminareTratament' + id).datetimepicker();
                });
              </script>
            </div>
            <div class="col-md-6 col-xs-7">
              <br>
            </div>
          </div>
        </div>
        <!-- modal footer -->
        <div style="text-align: center" class="modal-footer">
          <button type="button" class="btn btn-secondary col-3 mr-auto" data-dismiss="modal">Închide</button>
          <button type="submit" class="btn btn-info col-3 ml-auto">Salvează vizita</button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>