
<!-- Navbar neinregistrat --> 

<div th:fragment="navbar1">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
		<a href="/" class="navbar-brand">
			<h1>RoSpringVet</h1>
		</a>
		<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarMenu">
			<ul class="navbar-nav ml-auto">
				
				<li class="nav-item">
					<a href="desprenoi" class="nav-link">
						<h2>Despre noi</h2>
					</a>
				</li>
								
				<li class="nav-item">
					<a href="/" class="nav-link">
						<h2>Login</h2>
					</a>
				</li>
			</ul>
		</div>
	</nav>
</div>

<!-- Navbar stapan inregistrat --> 


<div th:fragment="navbar2">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
		<a href="/" class="navbar-brand">
			<h1>RoSpringVet</h1>
		</a>
		<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarMenu">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a th:href="@{/veziAnimaleleTale}" class="nav-link">
						<h2>Animale</h2>
					</a>
				</li>
				<li class="nav-item">
					<a th:href="@{/euProgramari}" class="nav-link">
						<h2>Programări</h2>
					</a>
				</li>
				<li class="nav-item">
					<a th:href="@{/euTratamenteActive}" class="nav-link">
						<h2>Tratamente</h2>
					</a>
				</li>
				<li class="nav-item">
					<a th:href="@{/euVizite}" class="nav-link">
						<h2>Vizite</h2>
					</a>
				</li>
				<li class="nav-item">
					<a href="desprenoi" class="nav-link">
						<h2>Despre noi</h2>
					</a>
				</li>
				<li class="nav-item">
					<a href="/logout" class="nav-link">
						<h2>Logout</h2>
					</a>
				</li>
			</ul>
		</div>
	</nav>
</div>


<!-- Navbar angajat inregistrat --> 



<div th:fragment="navbar3">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
		<a href="/" class="navbar-brand">
			<h1>RoSpringVet</h1>
		</a>
		<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarMenu">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a href="/programari" class="nav-link">
						<h2>Programări</h2>
					</a>
				</li>
				<li class="nav-item">
					<a th:href="@{/animale}" class="nav-link">
						<h2>Animale</h2>
					</a>
				</li>
				<li class="nav-item">
					<a th:href="@{/stapani}" class="nav-link">
						<h2>Stăpâni</h2>
					</a>
				</li>
				<li class="nav-item">
					<a th:href="@{/vizite}" class="nav-link">
						<h2>Vizite</h2>
					</a>
				</li>
				<li class="nav-item">
					<a href="/angajati" class="nav-link">
						<h2>Veterinari</h2>
					</a>
				</li>
				<li class="nav-item">
					<a href="/tratamente" class="nav-link">
						<h2>Tratamente</h2>
					</a>
				</li>
				<li class="nav-item">
					<a href="desprenoi" class="nav-link">
						<h2>Despre noi</h2>
					</a>
				</li>
				<li class="nav-item">
					<a href="/logout" class="nav-link">
						<h2>Logout</h2>
					</a>
				</li>
			</ul>
		</div>
	</nav>
</div>

