@charset "ISO-8859-1";

.div-container-principal{
	display: grid;
	grid-template-columns:  repeat(5, minmax(0, auto));
	grid-template-rows: auto auto auto auto 1fr 1fr;
	gap: 0.2px 0.2px; 
	grid-template-areas: 
	"titlu				titlu			titlu			titlu			titlu"
	"poza 				add-cautare		add-cautare		add-cautare		."
	"poza				tabel			tabel			tabel			."
	".					tabel			tabel			tabel			."
	".					pagini			pagini			pagini			."
	".					.				.				.				.";
	min-height: 100vh;
}

.titlu{
	grid-area: titlu;
	display: flex;
	font-size:3vw;
	justify-content: center;
	align-items: center;
    background:cyan;
}

.div-adauga-si-cautare{
	grid-area: add-cautare;
	margin-bottom: 0.7vh;
}

.div-poza{
	display: flex;
	grid-area: poza;
	justify-content: center;
	align-items: center;
}

#tabel{
	grid-area: tabel;
}

.pagini{
	grid-area: pagini;
}