<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">


	<!-- th replace pt head -->
	<div th:replace="fragments/headbootstrap">
	</div>

</head>

<body>
	<!-- th replace pt navbar -->
	<div th:replace="fragments/topnavbar :: navbar1">
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-3">
				<br>
				<h1><strong>Bine ai venit !</strong></h1>
				<br>
				<div>
					<h3>Pentru a putea folosi aplicația RoSpringVet, autentifică-te sau creează un utilizator nou.</h3>
				</div>
				<br>
			</div>
		</div>
	</div>
			
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form th:action="@{/login}" method="post">
					<!-- mesaj eroare -->
					<div th:if="${param.error}">
						<div class="alert alert-danger"><h5 class="text-danger ">Email sau parolă incorectă !</h5></div>
					</div>
					<!-- mesaj logout  -->
					<div th:if="${param.logout}">
						<div class="alert alert-info"><h5>Te-ai deconectat de la aplicație !</h5> </div>
					</div>
					<div th:if="${inregistrareSucces} != null">
						<div class="alert alert-info"><h5>Te-ai înregistrat cu succes !</h5> </div>
					</div>
					<div th:if="${inregistrareEsuata} != null">
						<div class="alert alert-info"><h5>Eroare la înregistrare. Înregistrare eșuată.</h5> </div>
					</div>
					
					<div class="form-group">
						<label for="username"> Email </label> :
						<input type="text" class="form-control" id="username" name="username"
							autofocus="autofocus">
					</div>

					<div class="form-group">
						<label for="password">Parola</label>: <input type="password" id="password" name="password"
							class="form-control" />
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-sm-4 col-sm-offset-3">
								<input type="submit" name="login-submit" id="login-submit"
									class="form-control btn btn-primary btn-lg mb-3" value="Autentificare" />
							</div>
							<div class="col-sm-4 col-sm-offset-3">
								<button type="button" class="btn btn-secondary btn-lg mb-3" data-toggle="modal" th:attr="data-target='#modalAdaugaStapan'">Înregistrare <i class="fas fa-plus"></i>
							</div>
						</div>
					</div>
				</form>
			</div>
			
			<div class="col-md-6 col-md-offset-3">
				<div class="row">
					<div class="col-md-12">
						<img
							class="img-responsive" 
							src="../static/images/angora2.png" 
							style="
								height:33vh; 
								max-width:50vw;" 
							th:src="@{/images/angora2.png}" 
						/>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	
	<!-- MODAL INREGISTRARE -->
	 <div th:replace="fragments/modal-adauga-stapan :: modal-adauga-stapan"></div>
	
	
</body>

</html>